/*photots*/

.pizza-1 {
  background-image: url(https://i.postimg.cc/BQLvcgJy/pizza-1.jpg);
  margin-right: 4px;
}

.pizza-2 {
  background-image: url(https://i.postimg.cc/cCbYrL0b/pizza-2.jpg);
  margin-left: 4px;
}

.image {
  background-position: center;
  background-size: cover;
}

.home-wrapper {
  margin: 42px auto;
  padding: 72px 48px;
  background: lighten($color-dark, 75%);
  display: flex;
  flex-wrap: wrap;
}

.box a,
.info {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-family: $font-header;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-light;
}

.box {
  flex: 1;
  height: 96px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 2%;
}

.hide {
  display: none;
}

.box a:hover {
  transform: translateY(-6px);
  transition-duration: 0.5s;
}

.box a:hover + .hide {
  display: block;
  color: #fff;
  font-size: 12px;
}

.opening {
  background-color: #ff6b6b;
  flex: 100%;
  margin-top: 8px;
}

.main-carousel {
  width: 100%;
  height: 230px;
  margin: 50px 0;
}

.carousel-cell {
  display: flex;
}

.carousel-cell img {
  width: 50%;
}

.description {
  margin: 0 18px;
}

.description p {
  color: $color-dark;
  font-size: 14px;
}

.description > p:last-child {
  font-weight: bold;
  font-size: 16px;
}
