/*photots*/

.pizza-1 {
  background-image: url(https://i.postimg.cc/BQLvcgJy/pizza-1.jpg);
  margin-right: 4px;
}

.pizza-2 {
  background-image: url(https://i.postimg.cc/cCbYrL0b/pizza-2.jpg);
  margin-left: 4px;
}

.image {
  background-position: center;
  background-size: cover;
}

.home-wrapper {
  margin: 42px auto;
  padding: 72px 48px;
  background: lighten($color-dark, 75%);
  display: flex;
  flex-wrap: wrap;
}

.image a,
.info {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-family: $font-header;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-light;
}

.box {
  flex: 1;
  height: 96px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  border-radius: $radius;
  overflow: hidden;
}

.hide {
  transition: 0.5s;
  transform: translateY(100%);
}

.box a {
  transition: 0.5s;
  transform: translateY(100%);
}

.box:hover a {
  transform: translateY(50%);
}

.box:hover .hide {
  transform: translateY(-100%);
  color: $color-light;
}

.opening {
  background-color: #ff6b6b;
  flex: 100%;
  margin-top: 8px;
  justify-content: center;
}

/* carousel */

.main-carousel {
  width: 100%;
  height: 230px;
  margin: 50px 0;
}

.carousel-cell {
  display: flex;
}

.carousel-cell img {
  width: 50%;
}

.description {
  margin: 0 18px;
}

.description p {
  color: $color-dark;
  font-size: 14px;
}

.description > p:last-child {
  font-weight: bold;
  font-size: 16px;
}

/* gallery */

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.gallery > li {
  display: flex;
  flex: 1 30%;
  height: 180px;
  margin: 2px;
  position: relative;
}

.gallery img {
  width: 100%;
  object-fit: cover;
  height: auto;
  border-radius: $radius;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $radius;
}

li:hover .overlay {
  background-color: rgba(51, 51, 51, 0.4);
}

.overlay a {
  font-size: 6px;
  margin: 15px;
  color: transparent;
}

.gallery li:hover i {
  color: $color-main;
  transform: scale(4);
  transition: 0.8s;
}

.gallery li i {
  transform: scale(0);
  transition: 1s;
}
